# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache

# Laravel IDE helper
/_ide_helper.php
/_ide_helper_models.php

# Laravel Sail
docker-compose.override.yml

# Docker
*.pid
*.log
*.sock
*.env
*.env.*

# System
.DS_Store
Thumbs.db

# PhpStorm
.idea/

# VSCode
.vscode/

# Composer
composer.lock

# npm/yarn
package-lock.json
yarn.lock
